<div class="search-container">

  <!-- ===================== PANNELLO SINISTRA ===================== -->
  <div class="left-panel">

    <!-- CARD DI RICERCA LIBRO -->
    <div class="search-bar-container">
      <mat-form-field appearance="outline" class="search-bar">
        <mat-label>Cerca libro</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input
          matInput
          [(ngModel)]="search.name"
          placeholder="Titolo del libro"
          (keydown.enter)="getBooks()"
        />
        <button
          mat-icon-button
          matSuffix
          color="primary"
          (click)="getBooks()"
          aria-label="Cerca"
        >
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <!-- ===================== LIBRI DISPONIBILI ===================== -->
    <div class="other-books">
      <div class="header">
      <h3>📚 Libri disponibili</h3>
      <button class="new-book" (click)="open()">
        <span class="plus-icon">+</span> Aggiungi
      </button>
    </div>


      <div class="book-cards-container">
        <mat-card class="book-card modern" *ngFor="let book of rows.results">
          <mat-card-header>
            <div mat-card-avatar class="book-avatar">📖</div>
            <mat-card-title>{{ book.name }}</mat-card-title>
          </mat-card-header>

          <mat-card-actions align="end">
            <button
              mat-stroked-button
              color="primary"
              (click)="openPergamena(book)"
            >
              Vedi posizione
            </button>
          </mat-card-actions>
        </mat-card>
      </div>

      <app-paginator
        [currentPage]="rows.page"
        [totalPages]="rows.pages"
        [pageSize]="rows.per_page"
        (pageChange)="onFooterPageChange($event)"
      ></app-paginator>
    </div>
  </div>
</div>

<!-- ===================== MODALE AGGIUNGI LIBRO ===================== -->
<!-- OVERLAY -->
<div class="overlay" *ngIf="showModal">
  <div class="overlay-grid">
    <!-- Freccia sinistra -->
     <div class="col arrow-col"></div>
    <button
      class="arrow"
      *ngIf="step === 2 && currentIndex > 0"
      (click)="prevBook()">
      ‹
    </button>

    <!-- MODALE -->
    <div class="modal">

      <!-- STEP 1 -->
      <div *ngIf="step === 1">
        <h2>Quanti libri vuoi aggiungere?</h2>

        <mat-form-field appearance="fill" style="width:100%">
          <mat-label>Numero di libri</mat-label>
          <input matInput type="number" min="1" [(ngModel)]="booksCount">
        </mat-form-field>

        <div class="actions">
          <button mat-button (click)="close()">Annulla</button>
          <button
            mat-raised-button
            color="primary"
            (click)="startBooks()"
            [disabled]="!booksCount || booksCount < 1">
            Avanti
          </button>
        </div>
      </div>

      <!-- STEP 2 -->
      <div *ngIf="step === 2">
        <form #bookForm="ngForm">
          <h2>Libro {{ currentIndex + 1 }} di {{ booksCount }}</h2>

          <mat-form-field appearance="fill" style="width:100%">
            <mat-label>Nome libro</mat-label>
            <input matInput required #name="ngModel" [(ngModel)]="currentBook.name" name="name">
            <mat-error *ngIf="name.invalid && name.touched">Campo Obligatorio</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" style="width:100%">
            <mat-label>Posizione</mat-label>
            <mat-select required [(ngModel)]="currentBook.position" name="position">
              <mat-option value="scaffale">Scaffale</mat-option>
              <mat-option value="bancale">Bancone</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="currentBook.position === 'scaffale'" appearance="fill" style="width:100%">
            <mat-label>Scaffale</mat-label>
            <input required matInput #scaffale="ngModel" [(ngModel)]="currentBook.scaffale" name="scaffale">
            <mat-error *ngIf="scaffale.invalid && scaffale.touched">Campo Obligatorio</mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="currentBook.position === 'scaffale'" appearance="fill" style="width:100%">
            <mat-label>Ripiano</mat-label>
            <input required matInput #ripiano="ngModel" [(ngModel)]="currentBook.ripiano" name="scaffale">
            <mat-error *ngIf="ripiano.invalid && ripiano.touched">Campo Obligatorio</mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="currentBook.position === 'scaffale'" appearance="fill" style="width:100%">
            <mat-label>Lato</mat-label>
            <mat-select required [(ngModel)]="currentBook.lato" name="lato">
              <mat-option value="dx">Destra</mat-option>
              <mat-option value="sx">Sinistra</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="currentBook.position === 'bancale'" appearance="fill" style="width:100%">
            <mat-label>Bancale</mat-label>
            <input required matInput #bancale="ngModel" [(ngModel)]="currentBook.bancale" name="scaffale">
            <mat-error *ngIf="bancale.invalid && bancale.touched">Campo Obligatorio</mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="currentBook.position === 'bancale'" appearance="fill" style="width:100%">
            <mat-label>Scatolone</mat-label>
            <input required matInput #scatolone="ngModel" [(ngModel)]="currentBook.scatola" name="bancale">
            <mat-error *ngIf="scatolone.invalid && scatolone.touched">Campo Obligatorio</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" style="width:100%">
            <mat-label>Compagnia</mat-label>
            <mat-select required name="company" [(ngModel)]="currentBook.company" #company="ngModel" >
              <mat-option *ngFor="let company of companies" [value]="company.id" >{{ company.name }}</mat-option>
            </mat-select>
            <mat-error *ngIf="company.invalid && company.touched">Campo Obligatorio</mat-error>
          </mat-form-field>

          <div class="actions">
            <button mat-button (click)="close(true)">Chiudi</button>
            <button mat-button (click)="close(false)">Riprendi successivamente</button>
            <button
              mat-raised-button
              color="primary"
              type="button"
              *ngIf="currentIndex === booksCount - 1"
              [disabled]="!isCurrentBookValid()"
              (click)="saveBooks()">
              Salva
            </button>
          </div>
        </form>
      </div>

      <div *ngIf="step === 3" class="loading-container">
        <div class="loader"></div>
        <h2>Sto caricando i record dei nuovi libri</h2>
        <p>Attendi qualche istante…</p>
      </div>

    </div>

    <!-- Freccia destra -->
    <div class="col arrow-col">
      <button
        class="arrow"
        *ngIf="step === 2 && currentIndex < booksCount - 1"
        [disabled]="!canGoNext()"
        (click)="nextBook()">
        ›
      </button>
    </div>
  </div>
</div>

<!-- ===================== MODALE POSIZIONE PERGAMENA ===================== -->
<div class="full-pergamena" *ngIf="pergamenaVisible" (click)="pergamenaVisible = false">
  <div class="pergamena-rotolo" (click)="$event.stopPropagation()">
    <h2>📍 {{ result.name }}</h2>
    <p><strong>Cliente:</strong> {{ result.company.name }}</p>
    <div class="scaffale" *ngIf="result.scaffale && result.ripiano" >
      <p><strong>Scaffale:</strong> {{ result.scaffale }} - {{ result.ripiano }}</p>
      <p> <strong>Lato: {{ result.lato }} </strong> </p>
    </div>
    <div class="bancale" *ngIf="result.bancale && result.scatola" >
      <p><strong>Bancale:</strong> {{ result.bancale }}</p>
      <p><strong>Scatolone:</strong> {{ result.scatola }} </p>
    </div>
    <button (click)="pergamenaVisible=false">Chiudi</button>
  </div>
</div>
