<div class="page">
  <div class="stage" aria-label="Login">

    <form class="form" [formGroup]="loginForm" (ngSubmit)="onLogin()">

      <!-- Logo -->
      <img class="login-title-image" src="../../../assets/images/MTS LOGO.png" alt="Accedi" />

      <!-- Username -->
      <div class="field">
        <label for="username">Username</label>
        <input
          id="username"
          type="text"
          formControlName="username"
          placeholder="Inserisci username"
          [class.invalid]="loginFailed && (lf['username'].invalid || loginFailed)"
        />
      </div>

      <!-- Password -->
      <div class="field">
        <label for="password">Password</label>

        <div class="password-wrapper">
          <input
            id="password"
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
            placeholder="Inserisci password"
            [class.invalid]="loginFailed"
          />

          <button
            type="button"
            class="toggle-password"
            (click)="this.showPassword = !this.showPassword;"
            aria-label="Mostra/Nascondi password">
            <i class="bi"
              [class.bi-eye]="!showPassword"
              [class.bi-eye-slash]="showPassword">
            </i>
          </button>
        </div>
      </div>


      <!-- Messaggio errore -->
      <p class="error-message" *ngIf="loginFailed">
        ⚠️ Username o password non validi
      </p>

      <!-- Bottone login -->
      <button type="submit" class="login-button" aria-label="Accedi">
        Accedi
      </button>

    </form>
  </div>
</div>
