<div class="container">
    <div class="header">
        <mat-toolbar color="primary" class="main-toolbar">
            <span class="logo">📚 Library Manager</span>
            <span class="spacer"></span>
            <button mat-button routerLink="/home" routerLinkActive="active-link">Home</button>
            <button mat-button routerLink="/search" routerLinkActive="active-link">Cerca Libro</button>
            <button mat-button routerLink="/movements" routerLinkActive="active-link">Tracciamento</button>
        </mat-toolbar>
    </div>
    <div class="pages-container">
        <div class="core-wrap">
            <router-outlet></router-outlet>
        </div>
        <div class="footer">
            <!--FOOTER-->
        </div>
    </div>
</div>