.spacer{
    flex: 1 1 auto !important;
}

.main-toolbar{
    background: linear-gradient(135deg, #0b2a6f, #0a3a8a);
}

.active-link{
    background: #b7c4dc;
}

.pages-container{
    padding: 10px;
}

.container{
    background-color: #f2f5fb;
    height: 100%;
}