<div class="tracking-dashboard" *ngIf="showPage">
  <div class="search-bar-container">
      <mat-form-field appearance="outline" class="search-bar">
        <mat-label>Cerca libro</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input
          matInput
          [(ngModel)]="search.name"
          placeholder="Titolo del libro"
          (keydown.enter)="getMovements()"
        />
        <button
          mat-icon-button
          matSuffix
          color="primary"
          (click)="getMovements()"
          aria-label="Cerca"
        >
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </mat-form-field>
    </div>
  <mat-card class="books-card full-width elevated">
    <mat-card-title>📚 Elenco Libri</mat-card-title>

    <div class="books-table">
      <div class="table-header">
        <div class="col name">Nome Libro</div>
        <div class="col position">Posizione</div>
        <div class="col history">Storico</div>
      </div>

      <div class="table-row" *ngFor="let book of rows.results">
        <div class="col name">{{ book.name }}</div>

        <div class="col position">
          Posizione: {{ book.book_status }}
        </div>

        <div class="col history">
          <button (click)="getSortedHistory(book)">Mostra storico</button>
        </div>
      </div>
    </div>
    <app-paginator
      [currentPage]="rows.page"
      [totalPages]="rows.pages"
      [pageSize]="rows.per_page"
      (pageChange)="onFooterPageChange($event)">
    </app-paginator>
  </mat-card>
</div>

<!-- Modale semplice -->
<div class="modal-backdrop" *ngIf="selectedBook">
  <div class="modal">
    <h2>📚 Storico - {{ selectedBook.name }}</h2>
    <ul class="history-list">
      <li *ngFor="let h of book_moves">
        <strong>{{ h.date_add | date:'dd/MM/yyyy' }}</strong> - 
        {{ h.from_status }} -> {{ h.to_status }}
        <br>
      </li>
    </ul>
    <button (click)="selectedBook = null">Chiudi</button>
  </div>
</div>
