<p>movement-form works!</p>
<mat-card>
  <mat-card-title>Sposta libro</mat-card-title>

  <mat-form-field>
    <mat-label>Titolo libro</mat-label>
    <input matInput [(ngModel)]="bookTitle">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Da posizione</mat-label>
    <mat-select [(ngModel)]="fromLocation">
      <mat-option *ngFor="let loc of locations" [value]="loc.id">
        {{ loc.sector }}/{{ loc.shelf }}/{{ loc.level }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>A posizione</mat-label>
    <mat-select [(ngModel)]="toLocation">
      <mat-option *ngFor="let loc of locations" [value]="loc.id">
        {{ loc.sector }}/{{ loc.shelf }}/{{ loc.level }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="moveBook()">Esegui spostamento</button>
</mat-card>
